name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          
          filename: metrics.plugin.languages.svg
          
          theme: dracula
          
          base: header, repositories
          
          # --- LINGUAGENS ---
          plugin_languages: yes
          
          plugin_languages_ignored: "tex, latex, jupyter notebook"
          
          plugin_languages_details: percentage, lines
          
          plugin_languages_limit: 8
          
          plugin_languages_colors: github
